.container
  .row
    .col-md-6.col-md-offset-3.jumbotron
      = form_for [@user, @pick] do |f|
        .form-group
          .field
            = f.text_field :item, autofocus: true, class: 'form-control', placeholder: 'Enter Item Name'
        .form-group
          .field
            = f.text_field :url, autofocus: true, class: 'form-control', placeholder: 'Enter URL (optional)'
        .actions
          = f.submit "Submit", class: "btn btn-default btn-primary"