.container
	.row
		.col-md-6.col-md-offset-3
			.text-center
				%h2 Hi #{@user.email}
				=link_to 'Add Gift', new_user_pick_path(@user)
				%p
				=link_to 'Go to your Gift Picks', user_picks_path(@user)